{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Заказы
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список заказов</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/admin/order/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Описание</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if orders|length > 0 %}
            {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.phone }}</td>
                <td>
                  {% if (order.type === 'service' and services|length) %}
                    {% for service in services %}
                      {% if service.id == order.service_id %}
                        <p>Тип: <b>Заказ продвижения</b></p>
                        <p>Тариф: <b>{{ service.name }}</b></p>
                        <p>Цена: <b>{{ service.price }}</b></p>
                        <p>Цена обслуживания: <b>{{ service.support_price }}</b></p>
                      {% endif %}
                    {% endfor %}
                  {% elseif (order.type === 'portfolio' and portfolios|length) %}
                    {% for portfolio in portfolios %}
                      {% if portfolio.id == order.portfolio_id %}
                        <p>Тип: <b>Информация о проекте</b></p>
                        <p>Проект: <b>{{ portfolio.name }}</b></p>
                        <p>Бюджет: <b>{{ portfolio.budget }}</b></p>
                        <p>Просмотров: <b>{{ portfolio.views }}</b></p>
                        <p>Постителей: <b>{{ portfolio.visitors }}</b></p>
                      {% endif %}
                    {% endfor %}
                  {% elseif (order.type === 'promo') %}
                    <p>Тип: <b>Кнопка в промоблоке</b></p>
                  {% else %}
                    <p>Тип: <b>Заказ звонка</b></p>
                  {% endif %}
                </td>
                <td>
                  {{ form.open({action: 'OrderController.delete', class: "form-horizontal"}) }}
                    {{ csrfField }}
                    {{ form.hidden('id', order.id, {class: 'form-control'}) }}
                    {{ form.submit('Удалить', 'submit', {class: 'btn btn-xs btn-danger'}) }}
                  {{ form.close() }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="8"> К сожалению ничего не найдено</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

