{% block alert %}
  {% if old('errors') %}
    <div class="alert alert-danger m-b-15">
      <strong>Ошибка!</strong>
      {% for error in old('errors') %}
        <div>{{ error.message }}</div>
      {% endfor %}
    </div>
  {% elif old('success') %}
    <div class="alert alert-success m-b-15">
      <strong>Операция выполнена успешно!</strong>
      {{ old('success') }}
    </div>
  {% endif %}
{% endblock %}


