{% extends 'layout/admin' %}

{% block styles %}
 {% include 'partials/styles.njk' %}
{% endblock %}

{% block  navbar %}
 {% include 'partials/navbar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Редактор шаблонов
    </h1>
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Шаблон {{ filename }}</h4>
      </div>
        {{ form.open({action: 'FileManagerController.edit', class: "form-horizontal template_form"}) }}

          <div class="panel-toolbar">
            <div class="btn-group m-r-5">
                {{ form.submit('Сохранить', 'submit', {class: 'btn btn-sm btn-primary m-r-5'}) }}
            </div>
          </div>
          {{ csrfField }}
          <div class="monaco_wrapper textarea_size_very_big no-rounded-corner">
            <div id="monaco_container" style="display: none;">{{ file }}</div>
          </div>

        {{ form.close() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}
