{% extends 'layout/admin' %}

{% block styles %}
  {% include 'partials/styles.njk' %}
{% endblock %}

{% block wrapperClass %}in{% endblock %}

{% block content %}
  <div class="login animated fadeInDown">
    <div class="login-header">
      <div class="brand">
        <span class="logo"></span> DIRECTMAN
        <small>Система управления сайтом</small>
      </div>
    </div>
    <div class="login-content">
      <div class="panel panel-inverse" data-sortable-id="form-stuff-4">
        <div class="panel-heading">
          <h4 class="panel-title">Войти в админ панель</h4>
        </div>
        <div class="panel-body">
          {{ form.open({action: 'AuthController.login', class: "form-horizontal"}) }}
            <fieldset>
              <legend>Введите логин и пароль</legend>
              {{ csrfField }}
              {% block  alert %}
                {% include 'partials/alert.njk' %}
              {% endblock %}
              <div class="form-group">
                {{ form.label('email', 'Email адрес', {class: 'col-md-4 control-label'}) }}
                <div class="col-md-8">
                  {{ form.text('email', old('email'), {class: 'form-control'}) }}
                </div>
              </div>
              <div class="form-group">
                {{ form.label('password', 'Пароль', {class: 'col-md-4 control-label'}) }}
                <div class="col-md-8">
                  {{ form.password('password', old('password'), {class: 'form-control'}) }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                  {{ form.submit('Войти', 'submit', {class: 'btn btn-sm btn-primary m-r-5'}) }}
                </div>
              </div>
            </fieldset>
          {{ form.close() }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}


