<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>DirectMAN</title>
  {% block styles %}{% endblock %}
</head>
  <body>
    <div class="page-sidebar-fixed page-header-fixed {% block wrapperClass %}{% endblock %}">
      {% block content %}{% endblock %}
      {% block navbar %}{% endblock %}
      {% block sidebar %}{% endblock %}
      {% block  footer %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
