{% extends 'layout/admin' %}

{% block styles %}
 {% include 'partials/styles.njk' %}
{% endblock %}

{% block  navbar %}
 {% include 'partials/navbar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Портфолио
    </h1>

    <div class="panel panel-inverse" data-sortable-id="form-stuff-4">
      <div class="panel-heading">
        <h4 class="panel-title">Добавить работу</h4>
      </div>
      <div class="panel-body">
        {{ form.open({action: 'PortfolioController.add', class: "form-horizontal", files: true }) }}
        <fieldset>
          {{ csrfField }}
          {% block  alert %}
            {% include 'partials/alert.njk' %}
          {% endblock %}
          <div class="form-group">
            {{ form.label('name', 'Название', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('name', old('name'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('budget', 'Бюджет', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('budget', old('budget'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('views', 'Просмотров', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('views', old('views'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('visitors', 'Визитов', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('visitors', old('visitors'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('img', 'Изображение', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.file('img') }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              {{ form.submit('Создать', 'submit', {class: 'btn btn-sm btn-primary m-r-5'}) }}
            </div>
          </div>
        </fieldset>
        {{ form.close() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}


