{% extends 'layout/admin' %}

{% block styles %}
 {% include 'partials/styles.njk' %}
{% endblock %}

{% block  navbar %}
 {% include 'partials/navbar.njk' %}
{% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Тарифы
    </h1>

    <div class="panel panel-inverse" data-sortable-id="form-stuff-4">
      <div class="panel-heading">
        <h4 class="panel-title">Добавить тариф</h4>
      </div>
      <div class="panel-body">
        {{ form.open({action: 'ServiceController.add', class: "form-horizontal"}) }}
        <fieldset>
          {{ csrfField }}
          {% block  alert %}
            {% include 'partials/alert.njk' %}
          {% endblock %}
          <div class="form-group">
            {{ form.label('name', 'Название', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('name', old('name'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('desc', 'Дополнительные услуги', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.textarea('desc', old('desc'), {class: 'form-control textarea_size_middle js-text-editor'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('text', 'Описание', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.textarea('text', old('text'), {class: 'form-control textarea_size_big js-text-editor'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('price', 'Цена', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('price', old('price'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            {{ form.label('support_price', 'Цена за доп услуги', {class: 'col-md-4 control-label'}) }}
            <div class="col-md-8">
              {{ form.text('support_price', old('support_price'), {class: 'form-control'}) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              {{ form.submit('Создать', 'submit', {class: 'btn btn-sm btn-primary m-r-5'}) }}
            </div>
          </div>
        </fieldset>
        {{ form.close() }}
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}


