<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DirectMAN 21312</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link href="/site/images/favicon.ico?v=2" type="image/x-icon" rel="shortcut icon">
  <link href="/site/css/fontello.css" type="text/css" rel="stylesheet">
  <link href="/site/css/proxima.css" type="text/css" rel="stylesheet">
  <link href="/site/css/swiper.css" type="text/css" rel="stylesheet">
  <link href="/site/styles/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="l-body-wrapper">

  <div class="c-menu">
    <div class="c-menu__wrapper l-wrapper">
      <div class="c-menu-mobile js-menu-mobile c-menu__mobile">
        <div class="c-menu-mobile__call js-menu-mobile-call"><i class="c-menu-mobile__open icon-menu-1 js-menu-mobile-open"></i><i class="c-menu-mobile__close icon-cancel js-menu-mobile-close"></i></div>
        <ul id="menuMobileSpy" class="c-menu-mobile__popup js-menu-scroll js-menu-mobile-popup">
          <li class="active"><a href="#services">Услуги</a></li>
          <li><a href="#portfolio">Примеры работ</a></li>
          <li><a href="#contacts">Контакты</a></li>
          <div class="c-card c-menu-mobile__card"><a href="tel:89644717878" class="c-card__phone">8 (964) 471-78-78</a>
            <div class="c-card__time">Пн-пт, c 9:00 до 18:00</div>
          </div>
          <div class="c-menu-mobile__button">
            <button name="order" data-context='{ "type": "call" }' class="c-button js-from-button"><span>Заказать</span></button>
          </div>
        </ul>
      </div><a href="/" class="c-menu__logo"><img src="/site/images/logo.png"></a>
      <div class="c-card c-menu__card"><a href="tel:89644717878" class="c-card__phone">8 (964) 471-78-78</a>
        <div class="c-card__time">Пн-пт, c 9:00 до 18:00</div>
      </div>
      <div class="c-menu__call">
        <button name="order" data-context='{ "type": "call"}' class="c-button c-button__color_black js-from-button"><span>Заказать</span></button>
      </div>
      <div id="menuSpy" class="c-menu__nav">
        <ul class="js-menu-scroll">
          <li><a href="#services">Услуги</a></li>
          <li><a href="#portfolio">Примеры работ</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="c-promo">
    <div class="c-promo__wrapper l-wrapper">
      <h1>Ищите, где заказать<br>рекламу в<b> Яндекс.Директ</b>?</h1>
      <p>
        <mark> Оставьте заявку, </mark> мы настроем Вашу рекламу бесплатно!
      </p>
    </div>
    <div class="c-promo__img">
      <button name="order" data-context='{ "type": "promo" }' class="c-button c-button__3d c-promo__button js-from-button"><span>Оформить заявку</span></button>
    </div>
  </div>

  <div id="services" class="c-services">
    <div class="c-services__wrapper l-wrapper">
      <div class="c-caption">
        <div class="c-caption__wrapper l-wrapper">
          <h2>Тарифы на<b> услуги</b></h2>
          <p>Оставьте свою заявку и получите новых клиентов уже завтра!</p>
        </div>
      </div>
      <div class="c-services__list">
        {% if services|length > 0 %}
          {% for service in services %}
            <div class="c-service">
              <div class="c-service__wrapper">
                <div class="c-service__body">
                  <div class="c-service__head">
                    <div class="c-service__name">{{ service.name }}</div>
                    <div class="c-service__price">{{ service.price }}</div>
                    <div class="c-service__currency">руб.</div>
                  </div>
                  <div class="c-service__list">
                      {{ service.text|safe }}
                  </div>
                  <button name="order" data-context='{ "type": "service", "service_id": {{ service.id }}}' class="c-button c-service__button js-from-button"><span>Заказать</span></button>
                </div>
                <div class="c-service__desc">
                  {{ service.desc|safe }}
                </div>
                <div class="c-service__other">Сопровождение:<b> от {{ service.support_price }} руб</b> / в месяц</div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div id="portfolio" class="c-portfolio">
    <div class="c-caption">
      <div class="c-caption__wrapper l-wrapper">
        <h2>Примеры<b> работ</b></h2>
        <p>Для подробной информации о проекте Вы можете оставить свою заявку</p>
      </div>
    </div>
    <div class="c-portfolio__wrap l-wrapper">
      <div class="c-portfolio__wrapper">
        <div class="c-portfolio__list">
          <div class="swiper-wrapper">
            {% if portfolios|length > 0 %}
              {% for portfolio in portfolios %}
                <div class="c-portfolio-item swiper-slide">
                  <div class="c-portfolio-item__img"><img src="{{ portfolio.img }}" width="100%"></div>
                  <div class="c-portfolio-item__info">
                    <h3>{{ portfolio.name }}</h3>
                    <hr>
                    <div class="c-portfolio-item__info-price">
                      <label>Месячный бюджет:</label><b>{{ portfolio.budget }}<span> руб</span></b>
                    </div>
                    <div class="c-portfolio-item__info-price">
                      <label>Кол-во показов:</label><b>{{ portfolio.views }}<span> в месяц</span></b>
                    </div>
                    <div class="c-portfolio-item__info-price">
                      <label>Кол-во посетителей на сайте:</label><b>{{ portfolio.visits }}<span> в месяц</span></b>
                    </div>
                    <hr>
                    <p>
                      Оставьте свою заявку для получения полной информации
                       об этой рекламной компании
                    </p>
                    <button name="order" data-context='{ "type": "portfolio", "portfolio_id": {{ portfolio.id }}}' class="c-button c-portfolio-item__info-button c-button__simple js-from-button"><span>Больше информации</span></button>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="c-portfolio__list-prev"></div>
        <div class="c-portfolio__list-next"></div>
        <div class="c-portfolio__list-bullets"><span></span><span class="swiper-pagination-bullet-active"></span><span></span></div>
      </div>
    </div>
  </div>

  <div class="c-docs">
    <div class="c-docs__wrapper l-wrapper">
      <div class="c-caption">
        <div class="c-caption__wrapper l-wrapper">
          <h2>Примеры<b> документов</b></h2>
          <p>Примеры документов Вы можете скачать по соответствующим кнопкам</p>
        </div>
      </div>
      <div class="c-docs__buttons">
        {% if docs|length > 0 %}
          {% for doc in docs %}
            <a href="{{ doc.url }}" class="c-button c-button__link c-docs__button" target="_blank">
              <span>{{ doc.title }}</span>
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="c-footer">
    <div id="map" class="c-footer__map"></div>
    <div id="contacts" class="c-footer__contacts">
      <h3>Контакты</h3>
      <ul>
        <li><i class="icon-phone"></i><a href="tel:89644717878">8 (964) 471-7878</a></li>
        <li><i class="icon-mail-alt"></i><a href="mailto:info@directman.ru">info@directman.ru</a></li>
        <li><i class="icon-skype"></i><a href="skype:directman.ru">directman</a></li>
        <li><i class="icon-location"></i>672000, г. Чита, ул. Проезжая, д. 46</li>
      </ul>
      <p>2010 — 2017, Directman. Все права защищены.</p>
      <p>Разработка сайта: <a href="http://globalintercom.ru">GLOBALINTERCOM</a></p>
      <p>Дизайн: <a href="https://www.fl.ru/users/Vespers/portfolio/">CODE</a></p>
    </div>
  </div>

  <div class="c-modal js-modal">
    <div class="c-modal__close js-modal-close"></div>

    {{ form.open({action: 'SiteController.order', class: "c-modal__form"}) }}
      {{ csrfField }}
      <div class="c-caption c-caption__size-small">
        <div class="c-caption__wrapper">
          <h2>Заказать<b> продвижение</b></h2>
          <p>Пожалуйста, введите данные ниже и мы перезвоним Вам в течении 30 минут!</p>
        </div>
      </div>
      <div class="c-modal__controls">
        <label><b>Телефон</b><span> (обязательное поле):</span></label>
        {{ form.text('phone', old('phone'), {class: 'js-phone-mask', required: true}) }}
      </div>
      <div class="c-modal__controls">
        <label><b>Имя</b><span>(обязательное поле):</span></label>
          {{ form.text('name', old('name'), {required: true}) }}
      </div>
      <div class="c-modal__controls">
        <label><b>Email</b></label>
          {{ form.email('email', old('email')) }}
      </div>
      <div class="c-modal__controls c-modal__controls-center">
        <button name="order" class="c-button c-button__3d c-modal__button"><span>Оформить заявку</span></button>
      </div>
    {{ form.close() }}
    <div class="c-modal__form-succes hidden js-modal-success">
      <div class="c-caption c-caption__size-small">
        <div class="c-caption__wrapper">
          <h2> <b> Поздарвляем</b></h2>
          <p>Ваша заявка успешно оформлена. Наш менеджер свяжется с Вами по контактному телефону.</p>
        </div>
      </div>
    </div>
    <div class="c-modal__form-error hidden js-modal-error">
      <div class="c-caption c-caption__size-small">
        <div class="c-caption__wrapper">
          <h2> <b> Ошибка</b></h2>
          <p>Что-то пошло не так: (, повторите попытку позднее</p>
        </div>
      </div>
    </div>

  </div>

  <div class="l-body-overlay js-overlay"></div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="/site/scripts/main.js"></script>
</body>
</html>