<table bgcolor="#f1f1f1" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody>
  <tr>
    <td style="font-size:0;line-height:0;" colspan="5" height="32">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="550">
        <tbody>
        <tr>
          <td style="font-size:0;line-height:0;" colspan="5" height="30">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          <td width="440" style="font:28px/28px Arial,san-serif;color:#000000;">
            Имя: <b>{{ order.name }}</b>
          </td>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          <td width="440" style="font:18px/28px Arial,san-serif;color:#585858;">
            Телефон: <b>{{ order.phone }}</b>
          </td>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
        </tr>
        <tr>
          <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          <td width="440" style="font:18px/28px Arial,san-serif;color:#585858;">
            Email: <b>{{ order.email }}</b>
          </td>
          <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
        </tr>

        <tr>
          <td align="center" style="font-size:0;line-height:0;" colspan="5" height="40">
            <img alt="image description" width="500" height="2" border="0" src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fstatic.cloudpayments.ru%2Fmail%2Freceipt%2Fborder.jpg&amp;proxy=yes&amp;key=e72be43edc1b7b852463649f32be311f">
          </td>
        </tr>

        {% if service %}
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Тип:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>Заказ продвижения</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Тариф:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ service.name }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Цена:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ service.price }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Цена обслуживания:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ service.support_price }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>
        {% endif %}

        {% if portfolio %}
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Тип:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>Информация о проекте</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Проект:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ portfolio.name }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Бюджет:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ portfolio.budget }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Просмотров:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ portfolio.views }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Постителей:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>{{ portfolio.visitors }}</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>

        {% endif %}

        {% if promo %}
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Тип:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>>Кнопка в промоблоке</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>
        {% endif %}

        {% if call %}
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:10px/18px Arial,san-serif;color:#a3a3a3;">Тип:</td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
            <td width="440" style="font:18px/18px Tahoma,Geneva,sans-serif;color:#010101;">
              <b>>Заказ звонка</b>
            </td>
            <td colspan="2" style="font-size:0;line-height:0;" width="55">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:0;line-height:0;" colspan="5" height="25">&nbsp;</td>
          </tr>
        {% endif %}

        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="font-size:0;line-height:0;" colspan="5" height="32">&nbsp;</td>
  </tr>
  </tbody>
</table>
