{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Клиенты
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список клиентов</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/admin/customer/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Адрес сайта</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Бюджет</th>
            <th>Цена за потдержку</th>
            <th>Дата оплаты</th>
            <th>Статус</th>
            <td></td>
          </tr>
          </thead>
          <tbody>
          {% if customers|length > 0 %}
            {% for customer in customers %}
              <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.site }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.budget }}</td>
                <td>{{ customer.support_price }}</td>
                <td>{{ customer.payment_day }}</td>
                <td>
                    {% if customer.active %}
                      <label>Активен</label>
                    {% else %}
                      <label>Не активен</label>
                    {% endif %}
                </td>
                <td>
                  {{ form.open({action: 'CustomerController.delete', class: "form-horizontal"}) }}
                    {{ csrfField }}
                    {{ form.hidden('id', customer.id, {class: 'form-control'}) }}
                    {{ form.submit('Удалить', 'submit', {class: 'btn btn-xs btn-danger'}) }}
                  {{ form.close() }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="9"> К сожалению ничего не найдено</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

