{% extends 'layout/admin' %}

 {% block styles %}
   {% include 'partials/styles.njk' %}
 {% endblock %}

 {% block  navbar %}
   {% include 'partials/navbar.njk' %}
 {% endblock %}

{% block sidebar %}
  {% include 'partials/sidebar.njk' %}
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="page-header">
      Документы
    </h1>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Список документов</h4>
      </div>
      <div class="panel-body">
        <div>
          <a href="/admin/doc/add" class="btn btn-info m-r-5 m-b-5">Добавить</a>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Название</th>
            <th>Url</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% if docs|length > 0 %}
            {% for doc in docs %}
              <tr>
                <td>{{ doc.id }}</td>
                <td>{{ doc.title }}</td>
                <td>{{ doc.url }} </td>
                <td>
                    {{ form.open({action: 'DocController.delete', class: "form-horizontal"}) }}
                      {{ csrfField }}
                      {{ form.hidden('id', doc.id, {class: 'form-control'}) }}
                      {{ form.submit('Удалить', 'submit', {class: 'btn btn-xs btn-danger'}) }}
                    {{ form.close() }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
              <tr>
                <td colspan="4"> К сожалению ничего не найдено</td>
              </tr>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block  footer %}
  {% include 'partials/footer.njk' %}
{% endblock %}

{% block scripts %}
  {% include 'partials/scripts.njk' %}
{% endblock %}

